*{
	margin: 0;
	font-family: 'Roboto', sans-serif;
	
	overflow-y:hidden; 
}

.contenedor{
  position: absolute;
  background-image: url(camino_campo.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.barra_navegacion
{
	background-color: black;
	
	position: absolute;
	
	height: 8%;
	width: 100%;
	
	opacity: 0.4;
}

.logo{
	position: absolute;
	
	height: 90%;
	width: 3.5%;
	
	margin-left: 1%;
	margin-top: 0.2%;
}

.perfil_imagen{
    position: absolute;
	background-color: azure;
	border-radius: 100%;
	height: 6%;
	width: 3.3%;
	margin-left: 68%;
	margin-top: 0.3%;
}

.sesion_usuario{
    position: absolute;
	color: white;
	
	height: 4.5%;
	width: 14%;
	
	margin-left: 70%;
	margin-top: 0.5%;
	padding-top: 0.7%;
    
    display: block;
    text-align: -webkit-center;
}

.boton{
    position: absolute;
	margin-top: 0.2%;
	margin-left: 88.1%;
    cursor: pointer;
}

input#botonsito
{
	padding: 12px 30px 15px;
	color: white;
	font-size: 1em;
	background-color: #c79d29;
	border: 0px;
	-webkit-border-radius:5px;
	-webkit-box-shadow: 0px 4px 0px #a58325;
	-webkit-transition: background-color .25s;
}

input#botonsito:hover
{
	background-color: #e3ae1a;
    cursor: pointer;
}

.central
{
	position: absolute;
	
	width: 15%;
	height: 9%;
	
	margin-top:  45.4%;
	margin-left: 44%;
}


.siguenos
{
	position: absolute;
	
	font-size: 14px;
	
	margin-left: 36%;
	margin-top: 6%;
	
	color: dimgrey;
}

.facebook
{	
	position: absolute
	
	float: left;
	
	height: 80%;
	width: 25%;
	
	margin-left: 5%;
	margin-top: 12%;
}

.instagram
{
	position: absolute;
	
	float: left;
	
	height: 60%;
	width: 29%;
	
	margin-top: 15%;
	margin-left: 3%;
}

.twitter
{
	position: absolute;
	
	float: left;
	
	height:60%;
	width: 35%;
	
	margin-right: 2%;
	margin-left: 30%;
	margin-top: 15%;
}

.footer
{
	background-color: wheat;
	
	position: absolute;
	
	height: 10%;
	width: 100%;
	
	margin-top: 46.1%;
	
	opacity: 0.6;
}


table{
    margin: 30px;
}
.tablita{
    position: absolute;
    text-align: justify;
    margin-top: 20%;
    margin-left: 8%;
    border-color: black;
    color: white;
}

#boton_update{
    position: absolute;
    background-color: #4cbf00;
    border-radius: 4%;
    padding: 1%;
    margin-top: 30%;
    margin-left: 15%;
    border: solid;
    border-color: #4cbf00;
    color: white;
    text-align: center;
}

#boton_update:hover{
    position: absolute;
    background-color: #4cbf00;
    border: solid;
    border-color: #4cbf00;
    color: white;
    font-family: sans-serif;
    text-align: center;
    text-transform: uppercase;
}