*{
    margin: 0;
	font-family: 'Roboto', sans-serif;
	
	overflow-y:hidden; 
}
.imagen_fondo{
	position: absolute;
	width: 100%;
	height: 100%;
    opacity: 0.9;
}

.barra_navegacion{
	background-color: black;
	position: absolute;
	height: 8%;
	width: 100%;
	opacity: 0.5;
}
.logo
{
	position: absolute;
	
	height: 90%;
	width: 3.5%;
	
	margin-left: 1%;
	margin-top: 0.2%;
}

.boton
{
	position: absolute;
	margin-top: 0.1%;
	margin-left: 88%;
    
}
input#botonsito
{
    cursor: pointer;
	padding: 12px 30px 15px;
	color: white;
	font-size: 1em;
	background-color: #c79d29;
	border: 0px;
	-webkit-border-radius:6px;
	-webkit-box-shadow: 0px 4px 0px #a58325;
	-webkit-transition: background-color .25s;
}

input#botonsito:hover
{
	background-color: #e3ae1a
}
.sesion_usuario
{
	position: absolute;
	color: white;
	
	height: 4.5%;
	width: 14%;
	
	margin-left: 74%;
	margin-top: 0.3%;
	padding-top: 0.7%;
    
    display: block;
    text-align: -webkit-center;
}

.perfil_imagen
{
	position: absolute;
	background-color: azure;
	
	border-radius: 100%;
	
	height: 6%;
	width: 3.3%;
	
	margin-left: 70%;
	margin-top: 0.2%;
}

.footer{
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
	opacity: 0.6;
}

.siguenos{
	
	font-size: 18px;
    text-align: center;
	
	color: dimgrey;
    height: 100%;
    
}

.facebook
{	
    
	height: 40px;
	width: 60px;
	
}

.instagram
{

	height: 40px;
	width: 60px;

}

.twitter
{
	
	height: 40px;
	width: 80px;

}

.contenedor{
    position: absolute;
    width: 94%;
    height: 80%;
    border-color: black;
    border: solid;
    border-radius: 5%;
    margin-top: 4.8%;
    margin-left: 3%;
}
.co1{
    position: absolute;
    width: 49%;
    height: 49%;
}

.co2{
    float: left;
    width: 49%;
    height: 49%;

}

.co3{
    float: left;
    width: 49%;
    height: 49%;

}

.co4{
    float: left;
    width: 49%;
    height: 49%;

}
h1{

    margin-top: 2%;
}

h2{
    color: wheat;
    margin-top: 2%;
}
.boton_canjear{
    cursor: pointer;
    color: white;
    background-color: green;
    border-color: green;
    padding: 1% 3% 1% 3%;
}
.boton_canjear:hover{
    background-color: darkgreen;
    border-color: green;
}