*{
    margin: 0;
	font-family: 'Roboto', sans-serif;	
    overflow-y: scroll;
}

.contenedor{
  position: absolute;
  background-image: url(camino_campo.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.barra_navegacion
{
	background-color: black;
	
	position: absolute;
	
	height: 8%;
	width: 100%;
	
	opacity: 0.4;
}

.logo{
	position: absolute;
	
	height: 90%;
	width: 3.5%;
	
	margin-left: 1%;
	margin-top: 0.2%;
}

.perfil_imagen{
    position: absolute;
	background-color: azure;
	border-radius: 100%;
	height: 6%;
	width: 3.3%;
	margin-left: 68%;
	margin-top: 0.3%;
}

.sesion_usuario{
    position: absolute;
	color: white;
	
	height: 4.5%;
	width: 14%;
	
	margin-left: 70%;
	margin-top: 0.5%;
	padding-top: 0.7%;
    
    display: block;
    text-align: -webkit-center;
}

.boton{
    position: absolute;
	margin-top: 0.2%;
	margin-left: 88.5%;
    cursor: pointer;
}

input#botonsito
{
	padding: 12px 30px 15px;
	color: white;
	font-size: 1em;
	background-color: #c79d29;
	border: 0px;
	-webkit-border-radius:5px;
	-webkit-box-shadow: 0px 4px 0px #a58325;
	-webkit-transition: background-color .25s;
}

input#botonsito:hover
{
	background-color: #e3ae1a;
    cursor: pointer;
}

.central
{
	position: absolute;
	
	width: 15%;
	height: 9%;
	
	margin-top:  45.4%;
	margin-left: 44%;
}


.siguenos
{
	position: absolute;
	
	font-size: 14px;
	
	margin-left: 36%;
	margin-top: 6%;
	
	color: dimgrey;
}

.facebook
{	
	position: absolute
	
	float: left;
	
	height: 80%;
	width: 25%;
	
	margin-left: 5%;
	margin-top: 12%;
}

.instagram
{
	position: absolute;
	
	float: left;
	
	height: 60%;
	width: 29%;
	
	margin-top: 15%;
	margin-left: 3%;
}

.twitter
{
	position: absolute;
	
	float: left;
	
	height:60%;
	width: 35%;
	
	margin-right: 2%;
	margin-left: 30%;
	margin-top: 15%;
}

.footer
{
	background-color: wheat;
	
	position: absolute;
	
	height: 10%;
	width: 100%;
	
	margin-top: 46.1%;
	
	opacity: 0.6;
}

.refe{
    position: absolute;
    color: white;
    margin-left: 6%;
    margin-top: 1%;
}

.caja_grande,barra-4{
	color: #444444;
}

input[type=text], select,textarea{

	font-size: 14px;
	color: black;

}



.arriba{
    margin-top: 4%;
	width: 100%;
	height: 7.5%;
	display: inline-block;
	border: 1px solid black;
	position: relative;
}

.list-1{
	margin-left: 1%;

}
.li1{
	display: inline-block;
	margin-left: 0.5%;
	margin-top: 0.8%;
}
#efect{
	border-bottom: 1px solid black;
	text-decoration: none;
}



.arriba li a{
	margin-top: 1%;	
	color: white;
	text-decoration:none;
	padding:10px 10px;
	display:block;
    
}

.arriba li a:hover{
	background-color: black;
}

.titulo{
	margin-top: 1%;
	font-size: 15px;
	display: inline-block;
	width: 90%;
	margin-left: 5%;
	position: relative;
}


.caja_grande{
	width: 100%;
	height:80%;

}

.cuadrado-1{
	margin-top: 2%;
	width: 90%;
	height: 80%;
	margin-left: 5%;
	position: relative;
	font-size: 18px;
	color: white;
    border: solid;
    border-color: black;
    border-radius: 6%;
}
.info-p{
	width: 90%;
	margin-top: 2%;
    margin-left: 4%;
}

.categoria-producto{
	margin-left: 5%;
	margin-top: 3%;
	width: 90%;
	
}
.cat-p{
	display: inline-block;
}
.categoria{
	display: inline-block;
	margin-left: 7%;

}

.cont-titulo{
	display: inline-block;
	width: 90%;
	margin-left: 5%;
	margin-top: 3%;

}

.tit{

	display: inline-block;
	font-size: 18px;
	width: 	45%;

}
#titulo_anuncio{
	width: 50%;
	margin-left: -10%;

}


.desc-p{

	display: inline-block;
	font-size: 18px;
	margin-right: 1%;
	width: 40%;

}

#text-area{
	display: flex;
	width: 90%;


}

textarea{
	margin-left: 23%; 
	width: 90%;

}

.cont-descripcion{
	display: inline-block;
	width: 78%;
	margin-top: 7%;

	margin-left: 5%;
}


.sub-cuadrado{

	width: 50%;
	height: 90%;
}


.sub-cuadrado2{
	display: inline-block;

	width: 50%;
	height: 95%;
	float: right;
	margin-top: -33.7%;
}


.cont-precio{
	display: inline-block;
	width: 90%;

	margin-left: 5%;
	margin-bottom: 15%;
	margin-top: 32%;

}

.pre{
	display: inline-block;
	width: 30%;

}

#precio, #cantidad{
	width: 50%;

}

.cont-cant{
	display: inline-block;
	width: 90%;

	margin-left: 5%;
}

.cant{
	display: inline-block;
	width: 30%;
}



.cont-imagen{
	display: inline-block;
	width: 90%;
	margin-top: 2%;
	margin-left: 5%;
}

.select-img{

	display: inline-block;
    
	margin-right: 1%;
	width: 40%;
}


#texto{

	text-align: center;
}

.subir_imagen{ 
	display: inline-block;
	height: 50px;
	width:  200px; 
	margin: 0%;
	position: relative;
	padding: 10px;
}


#input-seleccionar{
	position: absolute;
	width: 100%;
	height: 100%;
}

/*Region y comuna css*/
.barra-4{
	width: 100%;
	height:34%;
	margin-top: -6%;
	position: absolute;


}

.region{
	margin-left: 5%;
	margin-top: 7%;
	/*	background-color: white;*/
	width: 90%;
	
}
.cat-r{
	display: inline-block;

}

#select-region{

	margin-left: 15%;
}

.comuna{
	margin-left: 5%;
	margin-top: 5%;
	/*	background-color: white;*/
	width: 90%;
	
}

.cat-c{
	display: inline-block;

}

#select-comuna{

	margin-left: 13%;
}


.boton-promocionar{
	/*background-color: red;*/
	width: 100%;
	height: 20%;
	display: inline-block;
	margin-top: 10%;
	margin-left: -7%;
}

.btn {
	cursor: pointer;
	margin: 10px;
	border-radius: 5px;
	text-decoration: none;
	padding: 10px;
	font-size: 22px;
	transition: .3s;
	display: inline-block;
	position: absolute;
}


.blue:hover {
	background-color: black;
	color: gray;
}

.btn:hover {
	cursor:pointer;
}
.blue {
	color: white;
	border: 2px white solid;
}
